
%div#qaC
  .field
    = f.label :interview_title, 'Section Title'
    = f.text_field :interview_title

  .field
    = f.label :interview_subtitle, 'Section Subtitle'
    = f.text_field :interview_subtitle

  = render :partial => 'shared/form/edit_qa_collection', :locals => {:context => context}

