= form_for @seller_listing do |f|
  = render :partial => 'shared/user_notice', :locals => {:model_obj => @seller_listing}

  .field
    .yui3-u-5-24.left_col
      = f.label :estimated_value, 'Estimated Home Value'
    .yui3-u-3-4.right_col.radioC
      = f.text_field :estimated_value

  .field
    .yui3-u-5-24.left_col
      = f.label :asking_price, 'Asking Price'
      %div.note or lowest acceptable offer
    .yui3-u-3-4.right_col.radioC
      = f.text_field :asking_price

  .field
    .yui3-u-5-24.left_col
      = f.label :loan_amount, 'Loan Amount'
      %div.note if applicable      
    .yui3-u-3-4.right_col.radioC
      = f.text_field :loan_amount

  .field
    .yui3-u-5-24.left_col
      = f.label :time_frame, 'Sell Time'
      %div.note When would you like to sell?
    .yui3-u-3-4.right_col.radioC
      - [1,3,6].each do |i|
        %span
          = "< #{i} mo"
          %br
          = f.radio_button :time_frame, i

      %span
        Longer
        %br
        = f.radio_button :time_frame, 36

  .field
    .yui3-u-5-24.left_col
      = f.label :selling_reason, 'Reason for Selling'
    .yui3-u-3-4.right_col.radioC
      = f.text_area :selling_reason, 'data-example' => 'I am selling because...'


  -#.field
    .yui3-u-5-24.left_col
      = f.label :payments_are_current, 'Are You Behind?'
      %div.note on your mortgage payments
    .yui3-u-3-4.right_col.radioC
      -#= f.check_box :payments_are_current
      %span
        no
        %br
        = f.radio_button :payments_are_current, true
      %span
        yes
        %br
        = f.radio_button :payments_are_current, false
      %span
        N/A
        %br
        = f.radio_button :payments_are_current, :na, {:checked => @seller_listing.payments_are_current.nil?}

  .submitC
    = image_submit_tag '/images/transparent.gif', :id => 'make_offer'

    #securityC
      = image_tag '/images/transparent.gif', :id => 'lock_icon', :alt => 'Secure!'
    #security_iconsC
      = image_tag '/images/transparent.gif', :id => 'mcafee', :alt => 'McAfee'
      = image_tag '/images/transparent.gif', :id => 'truste', :alt => 'Truste Certified Privacy'
      = image_tag '/images/transparent.gif', :id => 'verisign', :class => 'last', :alt => 'Verisign'


:javascript
  $(document).ready(function() {
    $('input#seller_listing_estimated_value').focus();
  });
