%h1 Listing seller_listings

%table
  %tr
    %th User
    %th Currently listed
    %th Estimated value
    %th Asking price
    %th Load amount
    %th Payments are current
    %th
    %th
    %th

  - @seller_listings.each do |seller_listing|
    %tr
      %td= seller_listing.user_id
      %td= seller_listing.currently_listed
      %td= seller_listing.estimated_value
      %td= seller_listing.asking_price
      %td= seller_listing.loan_amount
      %td= seller_listing.payments_are_current
      %td= link_to 'Show', seller_listing
      %td= link_to 'Edit', edit_seller_listing_path(seller_listing)
      %td= link_to 'Destroy', seller_listing, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Seller listing', new_seller_listing_path
