:ruby
  extra_css('scaffold')

%p
  %b User:
  = @seller_listing.user_id
%p
  %b Selling Reason:
  = @seller_listing.selling_reason
%p
  %b Estimated value:
  = @seller_listing.estimated_value
%p
  %b Asking price:
  = @seller_listing.asking_price
%p
  %b Load amount:
  = @seller_listing.loan_amount
%p
  %b Sell Time:
  = @seller_listing.time_frame

= link_to 'Edit', edit_seller_listing_path(@seller_listing)
\|
= link_to 'Back', seller_listings_path
