:ruby
  return if spotlight.qas.empty?

%div#qaC
  %div.clearfix
    = admin_area do
      = link_to_edit_collection_for(:qa, spotlight)

    %div#mic_icon &nbsp;
    %h2.green= spotlight.interview_title
    %h5.green= spotlight.interview_subtitle

  %br
  %ul
    - spotlight.qas.each do |qa|
      %li{:id => "qa_#{qa.id}"}
        %strong
          %span.q Q:
          = qa.question
        %p= qa.answer