:ruby
  return if spotlight.qas.empty?

%div#qaC
  %div.clearfix
    = admin_area do
      = link_to 'edit q&a', edit_collection_qas_path(spotlight.class.name.downcase, spotlight.id), :class => :uso_modal, 'data-resource' => 'edit_qa_collection.css,edit_qa_collection.js'

    %div#mic_icon &nbsp;
    %h2.green= spotlight.interview_title
    %h5.green= spotlight.interview_subtitle

  %br
  %ul
    - spotlight.qas.each do |qa|
      %li{:id => "qa_#{qa.id}"}
        %strong
          %span.q Q:
          = qa.question
        %p= qa.answer