:ruby
  return if spotlight.social_profiles.empty?

%div#social_profilesC
  = admin_area do
    = link_to_edit_collection_for(:social_profiles, spotlight)

  %h2.green= spotlight.social_profile_title

  %div#all_profilesC
    %ul.clearfix
      - spotlight.social_profiles.each do |social_profile|
        - img = image_tag '/images/transparent.gif', :id => "#{social_profile.website}L", :alt => social_profile.website.capitalize
        %li{:id => "sp_#{social_profile.id}"}= link_to img, social_profile.url
