:ruby
  return if spotlight.social_profiles.empty?

%div#social_profilesC
  = admin_area do
    = link_to 'edit social profiles', edit_collection_social_profiles_path(spotlight.class.name.downcase, spotlight.id), :class => :uso_modal, 'data-resource' => 'edit_social_profile_collection.css,edit_social_profile_collection.js'

  %h2.green= spotlight.social_profile_title

  %div#all_profilesC
    %ul.clearfix
      - spotlight.social_profiles.each do |social_profile|
        - img = image_tag '/images/transparent.gif', :id => "#{social_profile.website}L", :alt => social_profile.website.capitalize
        %li= link_to img, social_profile.url
