:ruby
  extra_css('scaffold')
  
%h1 Future Home of the Admin Control Panel

%table
  %tr
    %th Resource
    %th Explanation... if needed.

  %tr
    %td Site Meta Data
    %td= link_to "Manage Site Title's and Description by URL", admin_meta_datum_index_path

  %tr
    %td User Accounts
    %td= link_to "View", admin_user_accounts_path

  %tr
    %td Seller Listings
    %td= link_to "View", seller_listings_path

  %tr
    %td User Addresses
    %td= link_to "View", addresses_path

  %tr
    %td User Phone Numbers
    %td= link_to "View", phone_numbers_path

  %tr
    %td Uploaded Photos
    %td= link_to "View", admin_uploaded_photos_path
