:ruby
  extra_css('edit_bullet_point_collection')
  extra_js('edit_bullet_point_collection')


%div#edit_bp_collectionC.formC_700
  %h1= "Edit Bullet Points for #{@context.class.name.capitalize}"

  = form_for @context, :url => send("#{@context.class.name.downcase}_path", @context.id), :method => :put do |f|
    = render :partial => 'shared/user_notice', :locals => {:model_obj => @context}

    = render :partial => "spotlights/form/about", :locals => {:f => f, :context => @context}

    %div#add_new_bpC.hidden
      = link_to 'new bullet point', new_bullet_point_path(:context => @context.class, :context_id => @context.id), :id => :add_new_bp

    .actions
      = f.submit 'Save'

%div{:style => 'height:2em'} &nbsp;