:ruby
  h1_title = 'Professional Home Buyers'
  header(:title, h1_title)

  extra_css('home')

%div#homeC.yui3-g
  %div#hs_one.yui3-u-1-24 &nbsp;
  %div#welcome_messageC.yui3-u-7-12

    = render :partial => 'how_it_works_video'

    %div#welcome_message
      %h1
        = image_tag '/images/transparent.gif', :id => 'welcome_title', :class => 'sprite', :alt => h1_title
      %p
        At eHouseOffers you'll find resources for home sellers, information on real estate trends & a community of
        professional home buyers.

  %div#cash_offer_formC.yui3-u-2-5
    = image_tag '/images/transparent.gif', :id => 'get_cash_offer', :class => 'sprite', :alt => 'Get a cash offer on your house today!'
    = render :partial => 'seller_listings/form'

  %hr.indent
  %hr.space

  %div#resources_rowC
    %div.yui3-u-3-8.yui3-g
      - tips_icon = image_tag '/images/transparent.gif', :id => 'tips_for_selling_icon', :alt => 'Tips for Selling'
      = link_to tips_icon, guides_seo_path

      %div#sv_contentC.bottom_contentC
        %h1
          - tips_img = image_tag '/images/transparent.gif', :id => 'tips_for_selling_title', :alt => 'Tips for Selling'
          = link_to tips_img, guides_seo_path

        %p
          Check out our free guides for best practices for home sellers seeking a fast home offer.

        %p
          = link_to 'See Some Tips', guides_seo_path
          = image_tag '/images/transparent.gif', :class => 'sprite rArr'

      
    %div.yui3-u-15-48
      - bicon_img = image_tag '/images/transparent.gif', :id => 'our_home_buyers_icons', :class => 'sprite', :alt => 'About Our Home Buyers'
      = link_to bicon_img, about_path()
      %div#tu_contentC.bottom_contentC
        %h1
          - btitle_img = image_tag '/images/transparent.gif', :id => 'our_home_buyers_title', :class => 'sprite', :alt => 'Our Home Buyers'
          = link_to btitle_img, about_path()
        %p
          Across the US, our certified professional home buyers give real estate owners cash offers for their homes.

        %p
          = link_to 'Learn About Us', about_path()
          = image_tag '/images/transparent.gif', :class => 'sprite rArr'

    %div.yui3-u-7-24
      - ricon_img = image_tag '/images/transparent.gif', :id => 'seller_resources_icon', :class => 'sprite', :alt => 'Seller Resources'
      = link_to ricon_img, guides_seo_path()
      %div#rs_contentC.bottom_contentC
        %h1
          - rtitle_img = image_tag '/images/transparent.gif', :id => 'seller_resources_title', :class => 'sprite', :alt => 'Seller Resources'
          = link_to rtitle_img, guides_seo_path()
        %p
          Our free guides give home sellers the tools they need to make informed home sale decisions

        %p
          = link_to 'Read Seller Guides', guides_seo_path()
          = image_tag '/images/transparent.gif', :class => 'sprite rArr'            


  %hr.indent
  %hr.space
  
  = render 'shared/quotes_row'
