:ruby
  extra_css('scaffold')

%h1 Listing phone_numbers

%table
  %tr
    %th User
    %th Number
    %th Label
    %th Primary
    %th
    %th
    %th

  - @phone_numbers.each do |phone_number|
    %tr
      %td= phone_number.user_id
      %td= phone_number.number
      %td= phone_number.label
      %td= phone_number.primary
      %td= link_to 'Show', phone_number
      %td= link_to 'Edit', edit_phone_number_path(phone_number)
      %td= link_to 'Destroy', phone_number, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Phone number', new_phone_number_path
