:ruby
  # TODO -- younker [2011-01-04 14:31] -- make the QA answer fields ckeditor-able
  # extra_js('url_friendly_string','jquery.growl','/ckeditor/ckeditor.js','/ckeditor/adapters/jquery.js')
  extra_js('url_friendly_string','jquery.growl')

= form_for @spotlight, :html => {:multipart => true} do |f|
  = render :partial => 'shared/user_notice', :locals => {:model_obj => @spotlight}

  = f.hidden_field :id

  .field
    = f.label :title, :for => 'blog_title'
    = f.text_field :title, :id => 'blog_title', 'data-validation' => 'validate(required)'

  - if @spotlight.new_record?
    .field
      %label{:for => :title_for_url}
        URL Friendly Title
        %span{:style => 'margin-left:5px;font-size:.85em'}
          = link_to 'generate from title', generate_url_friendly_string_path, :id => 'generate_string'

      = f.text_field :title_for_url, :id => 'title_for_url'
  - else
    .field
      = f.label :title_for_url
      %div.disabled_form_field= @spotlight.title_for_url

  .field.half_height
    = f.label :teaser
    = f.text_field :teaser, :maxlength => 165, 'data-validation' => 'validate(required)'

  .field.yui3-g
    - if @spotlight.photo?
      = image_tag @spotlight.photo.url(:large), :style => 'margin-right:10px'

    .yui3-u-1-2
      .field
        = f.label :photo, "#{@spotlight.photo? ? 'Replace Current' : 'Upload'} Photo"
        = f.file_field :photo

  %hr.space
  %h3 About Section
  = render :partial => "spotlights/form/about", :locals => {:f => f, :context => @spotlight}

  %div#add_new_bpC.hidden
    = link_to 'new bullet point', new_bullet_point_path(:context => @spotlight.class), :id => :add_new_bp


  %hr.space
  %h3 Q&amp;A Section
  = render :partial => "spotlights/form/qa", :locals => {:f => f, :context => @spotlight}

  %div#add_new_qaC.hidden
    = link_to 'new q&a', new_qa_path(:context => @spotlight.class), :id => :add_new_qa


  %hr.space
  %h3 Social Profile Section
  = render :partial => "spotlights/form/social_profile", :locals => {:f => f, :context => @spotlight}

  %div#add_new_spC.hidden
    = link_to 'new social profile', new_social_profile_path(:context => @spotlight.class), :id => :add_new_sp

  %br
  .actions
    = f.submit 'Save'
    = link_to 'Cancel', :back
