:ruby
  extra_css('spotlight_index')
  
%hr#top_of_content.space

= admin_area do
  = link_to "Create New Spotlight", new_spotlight_path

-#= render "shared/breadcrumb", :crumbs => [[:home, root_path], [:spotlight, nil]]

%div#spotlight_pageC.xs_two_col.yui3-g
  %div#left_col.yui3-u-33-48
    = render "shared/slider", :id => 'guides_slider', :collection => @other_spotlights

    - if @spotlights.empty?
      %p.sorry_no_results
        = "Sorry, but no spotlights are available right now#{params[:page].present? ? ' for this page.' : '.'}"
    - else
      %hr.space
      = render :partial => "spotlights/index/spotlight", :collection => @spotlights, :spacer_template => 'shared/blogs/spacer'

    %hr.space
    = will_paginate @spotlights


  %div#right_col.yui3-u-7-24
    = render :partial => "shared/seller_signup"
