:ruby
  extra_css('spotlight')
  
= admin_area do
  = link_to "Create New Spotlight", new_spotlight_path
  - if @spotlight.present?
    \| 
    = link_to "Edit Spotlight", edit_spotlight_path(@spotlight) 

= render "shared/breadcrumb", :crumbs => [[:home, root_path], [:spotlight, nil], [@spotlight.title, nil]]

%div.xs_two_col.yui3-g
  %div#left_col.yui3-u-33-48
    = render "shared/slider", :id => 'trends_slider', :collection => @other_spotlights

    - if @spotlight.present?
      %hr#pre_spotlight.space
      = render :partial => "spotlights/show/spotlight", :object => @spotlight
    - else
      %p.sorry_no_results
        = "Sorry, but no spotlights are available right now#{params[:page].present? ? ' for this page.' : '.'}"


    %hr.space
    = will_paginate @other_spotlights

  %div#right_col.yui3-u-7-24
    = render :partial => "shared/seller_signup"

