:ruby
  extra_css('scaffold')

%h1 View Meta Data

.field
  %label
    Relative Path &nbsp;
    %span.small= link_to 'go to page', @admin_meta_datum.relative_path
  %div.disabled_form_field= @admin_meta_datum.relative_path

.quarter_height.field
  %label Title
  %div.disabled_form_field.quarter_height= @admin_meta_datum.title

.quarter_height.field
  %label Description
  %div.disabled_form_field.quarter_height= @admin_meta_datum.description

.quarter_height.field
  %label Keywords
  %div.disabled_form_field.quarter_height= @admin_meta_datum.keywords

.actions
  = link_to "Edit", edit_admin_meta_datum_path(@admin_meta_datum)
  \|
  = link_to 'Meta Data Index', admin_meta_datum_index_path
