:ruby
  addr = @seller_listing.user.addresses.primary

= "Salesforce Lead ID - #{@seller_listing.salesforce_lead_id}"
= ""
Home Seller Information
= "    First:   #{@seller_listing.user.first_name}"
= "    Last:    #{@seller_listing.user.last_name}"
= "    Phone:   #{@seller_listing.user.phone_numbers.primary.number}"
= "    Email:   #{@seller_listing.user.email}"
= "    Address: #{addr.address1}"
- if addr.address2.present?
  = "             #{addr.address2}"
= "             #{addr.city}, #{addr.state} #{addr.zip}"
 
:ruby
  value  = @seller_listing.estimated_value
  asking = @seller_listing.asking_price
  loan   = @seller_listing.loan_amount
  timeframe = @seller_listing.time_frame
  mfi_show = value.present? || asking.present? || loan.present? || timeframe.present?
  
- if mfi_show
  =""
  Motivation &amp; Financial Information
  = "    Estimated Home Value: #{value.present? ? value : 'Not Given'}"
  = "    Asking Price:         #{ asking.present? ? asking : 'Not Given'}"
  = "    Loan Amount:          #{ loan.present? ? loan : 'Not Given'}"
  = "    Desired Sell Time:    #{ timeframe.present? ? "#{timeframe} month#{timeframe==1 ? '' : 's'}" : 'Not Given'}"

- if @seller_listing.selling_reason.present?
  =""
  Other Information
  = "    Reason for Selling: #{@seller_listing.selling_reason}"

= render :partial => 'mailer/layouts/text_footer'
