= "Hi #{@seller_listing.user.first_name},"
= ''
Thanks for choosing eHouseOffers. Your request for a home offer has been processed and a qualified local home buyer will contact you within 48 hours.
= ''
In the meantime, if you have any questions feel free to contact me directly at any time. My personal e-mail is christopher@eHouseOffers.com. 
= ''
We look forward to speaking with you,
= ''
= render :partial => 'mailer/layouts/text_footer', :locals => {:closing => 'Best Regards,', :from => 'Chris Richter'}