= "Hi #{@seller_listing.user.first_name},"
= ''
= "60% of home sellers in #{@seller_listing.address.state} could save hundreds, if not thousands, in interest charges by cleaning up their credit. But there are a lot of scams out there and getting started can be daunting. So to help demystify the credit repair process, here are a few recommended steps to follow."
= ''
1) Hire Someone vs. Do-it-yourself
Whether you should hire a credit repair firm or do-it-yourself depends on your willingness to work, as well as your ability to be organized and follow through on the process. If you're not a finance expert and you don't want to deal with handling the detail work yourself, there might be an advantage to hiring a professional.
= ''
= "    * Hire Someone - preferably an attorney who knows the credit laws."
= "    * Do-it-yourself - using a good quality guide and your 3-in-1 credit report."
= ''
2) Use a Reputable Company
Finding a loan with poor credit isn't hard, getting a decent interest rate can be. At eHouseOffers we recommend Lexington Law because they're reputable, knowledgeable & they've helped thousands of home sellers.  
= ''
You can find Lexington Law at http://www.lexingtonlaw.com/?tid=1934.0.email
= ''
3) Be Informed & Have a Plan 
Whether you hire someone or do-it-yourself, we strongly recommend that you learn what you need to do to repair your credit legally so that you can qualify for low rate loans and credit cards.
= ''
= "    * Don't fall for scams that tell you to create a new credit file ... that's credit fraud if you do it, and can make you subject to legal repercussions."
= "    * Read the Fair Credit Reporting Act, found at http://www.ftc.gov/os/statutes/fcra.htm, so you have an idea of your rights while you go through the credit repair process."
= "    * Get yourself organized and committed to the process, there is no overnight fix."
= "    * If you use an online service, you want to know what the fees will be, monthly or \"as you go\" is best, and you want to be able to cancel at anytime."
= "    * Always act in a cooperative and professional manner when dealing with creditors or collection agencies."
= "    * Don't make threats, however subtle, if you can't back them up."
= ''
= render :partial => 'mailer/layouts/text_footer', :locals => {:closing => 'All the best,', :from => 'Chris Richter'}