:ruby
  header(:title, @reason.title)
  header(:description, @reason.teaser)

  extra_js('reasons_to_sell')
  extra_css('reasons_to_sell')

%hr#reason_page.space

= admin_area do
  = link_to "Edit This Article", edit_reason_path(@reason)
  \|
  = link_to "Create New Guide", new_reason_path()

= render "shared/breadcrumb", :crumbs => [[:home, root_path], [:reasons_to_sell, reasons_path], ["#{@reason.title}", nil]]

%div.xs_two_col.yui3-g
  %div#left_col.yui3-u-33-48
    %h1.green
      = @reason.title

    = render :partial => "reasons_to_sell/reason", :object => @reason, :locals => {:full_article => true}

    %div.article_body.article_gutter.grey85
      = raw @reason.content

    %hr.space
    %hr
    %hr.space

    %div.article_gutter
      = render :partial => "shared/other_resources", :locals => {:id => 'other_reasonsC', :title => 'Other Reasons to Sell Your House', :c => @other_reasons}

  %div#right_col.yui3-u-7-24
    = render :partial => "shared/seller_signup"

