:ruby
  image_path = "#{root_url}#{blog.photo.url(:large).gsub(/^\//,'')}"
  image      = image_tag(image_path, :alt => "#{blog.title}")
  image_link = link_to image, construct_blog_path(blog, :show, nil, true)

  index_path = construct_blog_path(blog, :index, nil, true)
  if blog.context?(:trends)
    fhelp = link_to 'Foreclosure Help', index_path
    note  = "Trends &amp; #{fhelp} by eHouseOffers"
  elsif blog.context?(:reasons)
    sell  = link_to 'sell my house', index_path
    note  = "Reasons to #{sell} by eHouseOffers"
  end

= "#{image_link}<br /><span style='font-size:.85em;color:#666'>#{note}"
