
%div.email_this_imageC.box
  %div.gutter
    %strong Email this Image

    = form_tag email_image_blog_path(blog.title_for_url), :method => :post, :class => 'email_image_form' do
      .field
        = label_tag 'your_email', 'Your Email'
        = text_field_tag 'your_email', (user_signed_in? ? current_user.email : ''), 'data-validation' => 'validate(required, email)', 'data-example' => 'Your Email'

      .field
        = label_tag 'friends_email', 'Friends Email'
        = text_field_tag 'friends_email', '', 'data-validation' => 'validate(required, email)', 'data-example' => 'Friends Email'

      .submitC
        = image_submit_tag '/images/transparent.gif', :id => 'send_image_btn', :class => 'reasons_sprite'

      .js_reportC &nbsp;
        

