:ruby
  show_path = construct_blog_path(blog, :show)
  show_page = current_page?(show_path)

%div.yui3-g
  %div.blog_left_colC.yui3-u-1-2
    %h1.green= link_to_unless show_page, blog.title, show_path

    %div.blog_main_imageC
      = link_to_unless show_page, image_tag(blog.photo.url(:large), :alt => blog.title), show_path
    = render :partial => 'shared/blogs/share_article_on', :locals => {:object => blog}

  %div.yui3-u-11-24
    = render 'shared/blogs/email_this_image', :blog => blog
    = render 'shared/blogs/share_this_image', :blog => blog
