:ruby
  # foobar == validate

= form_for message, :url => contacts_path, :method => :post do |f|
  = render :partial => 'shared/user_notice', :locals => {:model_obj => message}

  - unless user_signed_in?
    .field
      = f.label :name
      = f.text_field :name, 'data-validation' => 'validate(required)'


    .field
      = f.label :email, :as => 'Email Address'
      = f.text_field :email, 'data-validation' => 'validate(required, email)'

  .field
    = f.label :subject
    = f.text_field :subject, 'data-validation' => 'validate(required)'

  .field
    = f.label :body
    = f.text_area :body, :rows => 2, 'data-validation' => 'validate(required)'

  .actions
    = f.submit 'Send Email'
