:ruby
  extra_css('contact')

= render "shared/breadcrumb", :crumbs => [[:home, root_path], [:contact_us, nil]]

= form_for @message, :url => contacts_path, :method => :post do |f|
  = render :partial => 'shared/user_notice', :locals => {:model_obj => @message}

  - unless user_signed_in?
    = f.label :name
    %br
    = f.text_field :name

    %br
    = f.label :email, :as => 'Email Address'
    %br
    = f.text_field :email
    %br

  = f.label :subject
  %br
  = f.text_field :subject

  %br
  = f.label :body
  %br
  = f.text_area :body, :rows => 2

  %br
  = f.submit 'Send Email'

  
  
