:ruby
  header(:title, @blog.title)
  header(:description, @blog.teaser)

  extra_css('guides')

%hr#top_of_content.space


= editor_area do
  = link_to "Edit This Article", construct_blog_path(@blog, :edit)
  \|
  = link_to "Create New #{name_for_context}", construct_blog_path(nil, :new, @context)
  \|
  = link_to 'Delete', construct_blog_path(@blog, :delete), :confirm => 'Are you sure?', :method => :delete

= render "shared/breadcrumb", :crumbs => [[:home, root_path], [:guides, guides_path], ["#{@blog.title}", nil]]

%div#guide_showC.xs_two_col.yui3-g
  %div#left_col.guide_contentC.yui3-u-33-48
    = image_tag @blog.photo.url(:large), :alt => @blog.title, :id => 'main_image'

    %h1.green
      = raw @blog.title

    %div.article_body.grey85
      = raw @blog.content

    %hr.space
    %hr
    %hr.space

    = render :partial => 'shared/boxed_resource_list', :locals => {:title => 'Other Guides For Home Sellers', :collection => @other_blogs}
      

  %div#right_col.yui3-u-7-24
    = render :partial => "shared/seller_signup"

