:ruby
  # younker [2010-11-18 19:01]
  # I would have done this in application_controller.initialize but the request object is not available
  # in the initialize method, and since this is the only othe place I can reliably say is called for every request,
  # this is where it goes. Besides, despite the database call here (in the view layer, YUCK!), it is view specific
  # so there is *some* justification for it being here.
  if @meta_data = Admin::MetaData.find_by_relative_path(request.path_info)
    title = @meta_data.title
    descr = @meta_data.description
    keywords = @meta_data.keywords
  end

  title    ||= content_for?(:header_title) ? yield(:header_title) : 'eHouseOffers | Welcome!'
  descr    ||= yield(:description) if content_for?(:description)
  keywords ||= yield(:keywords) if content_for?(:keywords)

:plain
  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
%html
  %head>
    %title= title

    %link{:rel => 'icon', :type => 'image/png', :href => '/images/favicon.png'}
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{'name' => 'keywords', :content => keywords}/
    %meta{'name' => 'description', :content => descr}/
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    %link{:rel => :stylesheet, :type => "text/css", :href => "/stylesheets/yui3-min.css"}

    - if cp = controller.canonical_path
      %link{:rel => :canonical,  :href => "#{cp}"}

    - if @noindex
      %meta{:name => 'robots', :content => 'noindex,follow'}
    - else
      %meta{:name => 'robots', :content => 'noydir,noodp'}

    = stylesheet_link_tag :defaults
    = yield(:extra_css) if content_for?(:extra_css)
    = javascript_include_tag :defaults, 'jquery.growl'
    = yield(:extra_js) if content_for?(:extra_js)

    :plain
      <!--[if IE 8]>
        <style type="text/css">
          html { font-size : 85%\0/; } /* IE 8 font size hack */
        </style>
      <![endif]-->
      <!--[if IE 7]>
        <link href="/stylesheets/ie7-sucks.css" media="screen" rel="stylesheet" type="text/css" />
      <![endif]-->


    = csrf_meta_tag

    :javascript
      var AUTH_TOKEN = encodeURIComponent(#{form_authenticity_token.inspect});

%body{:class => @frame || 'full'}
  = render :partial => 'shared/admin_options'

  %div#headerC
    = render :partial => 'layouts/application/header'

  %div#menuC
    = render :partial => 'layouts/application/menu'
    
  %div#mainC
    %div#tab_arrow &nbsp;
    = image_tag '/images/transparent.gif', :id => 'top', :class => 'app_sprite', :alt => yield(:banner_title)

    %div#content
      - if content_for?(:page_title)
        = yield(:page_title)

      - flash.each do |key, msg|
        = render :partial => 'shared/user_notice', :locals => {:klass => key, :msg => msg, :timeout => 5000}

      = yield
    = image_tag '/images/transparent.gif', :id => 'bottom', :class => 'app_sprite'

  %div#footerC
    = render :partial => 'layouts/application/footer'

